<!DOCTYPE html>
<html lang="{{ syslang }}">
<head>
    <meta name="generator" content="labsystem.m-o-p.de">
    <meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="shortcut icon" href="{{ cfg.get('Favicon') }}">

    <link rel="stylesheet" type="text/css" href="{{ cfg.get('SystemStyleSheet') }}">

    {% if cfg.doesExist('SysOverridingSheet') and cfg.get('SysOverridingSheet') %}
        <link rel="stylesheet" type="text/css" href="{{ cfg.get('SysOverridingSheet') }}">
    {% endif %}

    <link rel="stylesheet" type="text/css" href="{{ cfg.get('UserStyleSheet') }}">
    <link rel="stylesheet" type="text/css" href="{{ cfg.get('PrintStyleSheet') }}" media="print">

    <link rel="stylesheet" type="text/css" href="../dist/main.css">

    <script type="text/javascript">
        var discardChangesWarning = "{{ lng.get('discardChangesWarning') }}";
    </script>

    {% if cfg.doesExist('tinyMCE') and cfg.get('tinyMCE') == 'TRUE' and url.available('tinyMCE') %}
        <script type="text/javascript" src="../plugins/tiny_mce/tiny_mce.js"></script>
    {% endif %}

    {% if cfg.doesExist('google-code-prettify') and cfg.get('google-code-prettify') == 'TRUE' %}
        <link href="../plugins/google-code-prettify/prettify.css" type="text/css" rel="stylesheet"/>
        <style type="text/css" media="screen">
            .prettyprint, .labsys_mop_contentArea .labsys_mop_elements_p_around .prettyprint {
                background-color: #fff;
                color: #000;
            }
        </style>
        <script type="text/javascript" src="../plugins/google-code-prettify/prettify.js"></script>
    {% endif %}

	{% if parts['header']['display_items']['exampleSolutions'] %}
		<script type="text/javascript" src="/ba-wasner/shared/jquery-3.5.1.min.js"></script>
		<script type="text/javascript">const apiKey = "some_static_secret";</script>
		<script type="text/javascript" src="/ba-wasner/measurements/ilab-time-measurement.js"></script>
		<script type="text/javascript" src="/ba-wasner/correction/correction-criteria.js"></script>
		<link rel="stylesheet" type="text/css" href="/ba-wasner/correction/correction.css">
	{% endif %}

    <title>
        {{ pge.replaceConstants(pge.title) }} [{{ usr.userName }}@{{ cfg.get('SystemTitle') }}]
    </title>
</head>

<body
        data-usercss="{{ cfg.get('UserStyleSheet') }}"
        data-enable_prettyprint="{{ cfg.doesExist('google-code-prettify') and cfg.get('google-code-prettify') == 'TRUE' ? 1 : 0 }}"
        data-enable_tinymce="{{ cfg.doesExist('tinyMCE') and cfg.get('tinyMCE') == 'TRUE' and url.available('tinyMCE') ? 1 : 0 }}"
        data-nav_prevpage="{{ nav['prev'] }}"
        data-nav_nextpage="{{ nav['next'] }}"
        data-nav_tocpage="{{ nav['toc'] }}">
<div id="mainwrapper">
    <div class="header d-flex bg-dark justify-content-between align-items-center border-secondary border-bottom">
        {% include "parts/header.html.twig" %}
    </div>
    <div id="shittybrowser" class="alert alert-danger m-2">
        Internet Explorer is a shitty browser and not supported!
    </div>
    <div class="content d-flex">
        <div class="nav">
            {% include "parts/menu.html.twig" %}
        </div>
        <div class="page">
            <div class="mx-auto container">
                {% if pge.renderModeLegacy %}
                    {{ pge.get()|raw }}
                {% else %}
                    {% include pge.get_template() %}
                {% endif %}
            </div>
        </div>
    </div>
    <div class="footer bg-dark d-flex justify-content-end align-items-center border-secondary border-top">
        {% include "parts/footer.html.twig" %}
    </div>
</div>

{% if SYSALERT %}
    <script type="text/javascript">alert("{{ SYSALERT }}");</script>
{% endif %}
{% if SYSINFO %}
    <script type="text/javascript">alert("{{ SYSINFO }}");</script>
{% endif %}

<script type="text/javascript" src="../dist/bundle.js"></script>

</body>
</html>